.boat {
  width: 6em;
  position: absolute;
  bottom: calc(20% - 3px);
  left: 50%;
  animation: bob 2s linear infinite;
}

.landing {
  position: fixed; 
  width: 100vw;
  height: 100vh;
  background: #91c6cc;
  display: flex;
  justify-content: center;
}

.landing h1 {
  font-size: 3em;
  position: absolute;
  top: 30%;
  font-family: monospace;
  color: white;
  font-weight: normal;
}

/*Downloaded from https://www.codeseek.co/sebavien/svg-wavesandxff08svg-background-andamp-css-background-positionandxff09-zBgNgb */
.waveHorizontals{
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 20%;
}
.waveHorizontal{
	width: 100%;
	height: 100%;
	display: block;
	position:absolute;
	background-repeat:repeat-x;
	
	-webkit-animation: move 18s linear infinite;
	animation: move 20s linear infinite;
}
#waveHorizontal1{
	background-image:url(http://www.greenmarble.jp/wave1.svg);
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
}
#waveHorizontal2{
	background-image:url(http://www.greenmarble.jp/wave2.svg);
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;	
}
#waveHorizontal3{
	background-image:url(http://www.greenmarble.jp/wave3.svg);
	-webkit-animation-delay: -4s;
	animation-delay: -4s;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

@keyframes bob {
  0% {
    transform: translate(0, 0) rotate(0deg)
  }
  30% {
    transform: translate(0, -10px) rotate(7deg)
  }
  70% {
    transform: translate(0, -5px) rotate(-7deg)
  }
  100% {
    transform: translate(0, 0) rotate(0deg)
  }
}

@keyframes move {
	0% {		background-position:left 0px bottom 0;}
	100% {	background-position:left 350px bottom 0;}
}
.content{
  height: 20%;
  position: absolute;
  left: 0;
  width: 100vw;
  bottom: 0;
  background-color: #4569b5;
}

.rain {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.raindrop {
  animation: rainfall 0.8s linear infinite;
  position: absolute;
  background: white;
  width: 3px;
  height: 10px;
  opacity: 0.1;
  top: -10px;
}

.raindrop::after {
  content: '';
  width: 100%;
  height: 100%;
}

@keyframes rainfall { 
  0% { 
      transform: translateY(0);
      opacity: 1; 
  } 

  100% { 
      transform: translateY(80vh);
  } 
}

