.modal-wrapper {
  padding: 10px;
  display: block;
  overflow: hidden;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99999;
}

.modal-wrapper.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-wrapper.hide {
  display: none;
}

.modal {
  max-height: 700px;
  font-family: sans-serif;
  max-width: 800px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.modal-header {
  display: flex;
  background: #802d2b;
  color: white;
  flex-shrink: 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  color: white;
  border-top: 1px solid lightgrey;
}

.modal-footer__btn {
  height: 50px;
  padding: 10px;
  font-size: 16px;
  background-color: #39cf8a;
  margin: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-footer__btn:hover {
  background-color: #279160;
}

.modal-header__title {
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  line-height: 50px;
  padding: 0 20px;
}

.modal-header__close {
  width: 60px;
  cursor: pointer;
  height: 50px;
  border: none;
  font-size: 30px;
  background: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header__close:hover {
  background: #59201e
}

.modal-content {
  padding: 20px;
  overflow: scroll;
}
