.mainContent{
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    height: 85vh;
    font-size: 22px;
    margin: auto;
    line-height: 1.6;
    background: white;
    color: #26323d;
    font-weight: 100;
}

.userListWrapper {
    background-color: #2A2845;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    height: 150px;
    padding:20px 0px 40px 30px;
    border-right: 1px solid #222;
}

.feedWrapper {
    height: 100%;
    overflow: scroll;
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
}

.chatFormWrapper {
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}

.fade-out {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(255, 255, 255,1), rgba(222, 208, 208,0));
    position: absolute;
}

.fade-out--bottom {
    width: 100%;
    height: 100px;
    background: linear-gradient( rgba(222, 208, 208,0), rgba(255, 255, 255,1));
    position: absolute;
    bottom: 0;
}