<div *ngIf="landing">
  <form class="stage-form">
    <input #codeInput placeholder="Enter Show Code"/>
    <div *ngIf="invalidCode">Sorry! That code is not correct.</div>
    <button (click)="enterCode(codeInput.value)">Submit</button>
  </form>
</div>
<div *ngIf="!landing" >
  <ng-container *ngIf="(!isPreShowUser && (showStage | async) === 'pre')">
    <div class="stage__setup" [class.stage__setup--hide]="!setupMode">
      <h1>Welcome!</h1>
      <div style="font-family: sans-serif">Ticket: <em>{{ id }}</em></div>
      <br/>

      <p>The show has not started yet. Check back here 5-10 minutes before show time.</p>
    </div>
  </ng-container>
  <ng-container *ngIf="(isPreShowUser || (showStage | async) === 'show')">
    <div class="stage__setup" [class.stage__setup--hide]="!setupMode">
      <h1>Welcome!</h1>
      <div style="font-family: sans-serif">Ticket: <em>{{ id }}</em></div>
      <br/>
      <p>Before the show starts, we need to make sure a couple things are working for you...</p>

      <div class="stage__setup-section">
        <h2>Audio Test</h2>
        <p>Click "Play" on the audio-stream. Can you hear rain?</p>

        <label class="container">Yes!
          <input value="yes" id="audio-check-yes" (ngModelChange)="hearsAudio('yes')" [(ngModel)]="audioCheck" type="radio" name="audio-check">
          <span for="audio-check-yes" class="checkmark"></span>
        </label>
        <label class="container">No :(
          <input value="no" id="audio-check-no" (ngModelChange)="hearsAudio('no')" [(ngModel)]="audioCheck" type="radio" name="audio-check">
          <span for="audio-check-no" class="checkmark"></span>
        </label>

        <br/><br/>

        <iframe src="https://mixlr.com/users/7822221/embed"
          width="100%"
          height="180px"
          scrolling="no"
          frameborder="no"
          marginheight="0"
          marginwidth="0">
        </iframe>
      </div>

      <div class="stage__setup-section">
        <h2>Delay Configuration</h2>
        <p>Please click the 'Ding!' button, when you hear a ding sound.</p>
        <button *ngIf="!delayConfigured" (click)="configDelay()">Ding!</button>
        <div *ngIf="delayConfigured" class="setup-checkmark">Configured</div>
      </div>

      <button (click)="setupMode = false">Continue To Show →</button>
    </div>

    <div
      *ngIf="setupMode === false"
      class="main-content"
      id="scroller"
      [class.theme--light]="theme === 'light'"
      [class.theme--dark]="theme === 'dark'"
    >
      <button class="audio-button" (click)="openAudioModal()">
        <img src="../../../assets/icons/radio.png">
      </button>
      <div
        [class.invisible]="!showRamp"
        class="ramp up"
        [class.dark]="theme === 'dark'"
        [class.light]="theme === 'light'"
      ></div>

      <div class="feedWrapper" #scroller [class.show-end]="showEnded">
        <feed
          [user]="id"
          [feedDebounce]="debounceTime"
          (advanceScroll)="onAdvanceScroll($event)"
          (finishedTyping)="onFinishTyping($event)"
          (currentBlock)="onCurrentBlockChange($event)">
        </feed>
      </div>

      <div
        [class.invisible]="!showRamp"
        class="ramp down"
        [class.dark]="theme === 'dark'"
        [class.light]="theme === 'light'"
      >
      </div>
    </div>

    <div
      *ngIf="currentBlock"
      (keyup.enter)="submit(input)"
      [style.marginBottom.px]="(mode !== 'chat') ? -120 : 0"
      class="stage__chat-wrapper">
      <input [disabled]="mode !== 'chat'" #input class="stage__chat-input" placeholder="Type something">
      <button class="stage__chat-button" (click)="submit(input)">SEND</button>
    </div>
  </ng-container>
</div>

<nav *ngIf="setupMode === true" class="goodthings-nav">
  <a href="/">Home</a>
  <a href="/program">Program</a>
  <a href="/stage">Stage</a>
</nav>

<modal title="Audio Stream" #audioModal [actionButton]="false">
  <div style="display: flex; justify-content: center; align-items: center">
    <iframe src="https://mixlr.com/users/7822221/embed"
      width="100%"
      height="180px"
      scrolling="no"
      frameborder="no"
      marginheight="0"
      marginwidth="0">
    </iframe>
  </div>
</modal>
