<div class="mainContent" id="scroller">
  <div class="fade-out"></div>
  <div class="feedWrapper" #scroller>
    <feed 
      [user]="id" 
      (advanceScroll)="onAdvanceScroll($event)" 
      (finishedTyping)="onFinishTyping($event)" 
      (currentBlock)="onCurrentBlockChange($event)">
    </feed>
  </div>
  <div class="fade-out--bottom"></div>
</div>
<div *ngIf="currentBlock" [style.marginBottom.px]="(currentBlock.type !== 'chat') ? -120 : 0" class="stage__chat-wrapper">
  <input #input class="stage__chat-input" placeholder="Type something">
  <button class="stage__chat-button" (click)="submit(input)">SEND</button>
</div>