
.user-badge {
    width: 16px;
    text-align: center;
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px;
    margin: -4px;
    border-radius: 100%;
    font-size: 14px;
}

.chat-feed {
    height: 100%;
    width: 100%;
    background: #333333;
    overflow: scroll;
    position: relative;
}

.admin {
    display: flex;
    flex-direction: column;
    background: #333333;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: Helvetica;
    font-weight: 100;
}

.admin-delay-timer {
  padding: 10px;
  margin-bottom: 10px;
  border-image: none;
  border-radius: 10px;
}

.admin-preshow {
  filter: grayscale(100%);
}

.admin-theme {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
}

.admin-theme.selected,
.admin-theme:hover {
  -webkit-box-shadow: 3px 2px 28px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 28px -6px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 28px -6px rgba(0,0,0,0.75);
}

.admin-theme:not(:last-child) {
  margin-right: 20px;
}

.admin__timeline {
    height: 150px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.admin__status-bar {
  background: white;
}

.admin__main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.admin__feedback {
    height: 70px;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    transition: margin-bottom 500ms ease;
}

.admin__feedback-btn {
    width: 100px;
    background: #339966;
    color: white;
    font-size: 24px;
    border: 0;
}

.admin__feedback-input {
    width: 100%;
    font-size: 20px;
}

.admin__stage-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin__toolbar {
  align-items: center;
  padding-left: 10px;
  font-size: 16px;
  padding: 5px;
  background: white;
  border-bottom: 1px solid lightgrey;
  height: 42px;
  box-sizing: border-box;
  display: flex;
  overflow: auto;
}

.admin__toolbar button {
  flex-shrink: 0;
  border-image: none;
  height: 100%;
  border-radius: 8px;
  font-size: 14px;
  margin-right: 10px;
}

.admin__story-block {
    color: #9a9898;
    width: 150px;
    height: 150px;
    background: #f0eeee;
    display: inline-block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border-left: solid white;
}

.admin__story-block--select {
    background: #73cceb;
    color: white;
}

.admin__story-block--read {
    background: #0499cc;
    color: white;
}

.admin__chat-panel {
    color: white;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 400px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.admin__chat-panel-button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background: white;
  background-image: none;
  border: none;
  border-image: none;
  border-radius: 5px;
  margin: 5px 10px;
  color: white;
}

.admin__chat-panel-button:hover {
  opacity: 0.8;
}

.admin__chat-panel-main {
    display: flex;
    height: 100%;
    background: #f0eeee;
    overflow: hidden;
}

.admin__chat-panel-feed {
    display: flex;
    flex-direction: column;
    width: 70px;
    overflow: scroll;
    flex-shrink: 0;
}

.admin__stage {
    transition: background-color 2.5s ease-in-out, color 2.5s ease-in-out;
    flex: 1;
    display: flex;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 30px;
    overflow: scroll;
    flex-direction: column;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 100;
}

.theme--light {
  background: #f5f7f9;
  color: #567492;
}

.theme--dark {
  background: #025168;
  color: #b9d5f2;
}

.admin__stage--typed-segment {
    opacity: 0.5;
    transition: opacity 1s ease;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    flex-shrink: 0;
    background: #323232;
}

.top-bar {
    display: flex;
}

.clock {
    font-size: 40px;
    color: white;
    text-align: center;
    flex: 1;
}

.block-number {
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.advance-btn {
    flex: 1;
    width: 100%;
    font-size: 24px;
    cursor: pointer;
    border-image: none;
}

.position {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.tally {
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
    flex: 1;
}

.setup-stepper {
  display: flex;
}

.setup-stepper label:not(:last-child)::after {
  content: '⟶';
  font-size: 24px;
  line-height: 14px;
  display: inline-block;
  padding: 0 20px;
}
