<div class="control-panel">
  <div class="top-bar">
    <div class="controls">
      <div class="position">
        <div class="clock">{{ time }}</div>
        <div class="tally">{{ storyIndex + 1 }}/{{ story.length }}</div>
      </div>
      <button class="advance-btn" [disabled]="mode === 'story'" (click)="advanceStory()">
        <span *ngIf="clock === 0">START</span>
        <span *ngIf="clock !== 0">NEXT</span>
      </button>
    </div>
    <div class="control-panel__timeline" >
        <div
          class="control-panel__story-block" 
          *ngFor="let n of story; let i = index" 
          [ngClass]="{ 
            'control-panel__story-block--select': (storyIndex === i),
            'control-panel__story-block--read': (storyIndex > i)
            }">
          <div class="block-number">{{ i + 1 }}</div>
          <img *ngIf="n.type === 'start'" src="../../assets/icons/start-icon.png">
          <img *ngIf="n.type === 'story'" src="../../assets/icons/book-icon.png">
          <img *ngIf="n.type === 'chat'" src="../../assets/icons/chat-icon.png">
        </div>
    </div>
  </div>
  <div class="control-panel__main">
      <div style="color: white" class="control-panel__views">
          <span *ngIf="mode === 'story'">Autotyping story block...</span>
          <span *ngIf="mode === 'wait'">Paused. Click "NEXT" to advance.</span>
          <span *ngIf="mode === 'chat'">Typing-mode on (manually enter text)</span>
      </div>
    <div class="control-panel__stage">
      <!--<story (finishedTyping)="onFinishTyping($event)" [segments]="feed | async"></story>-->
      <app-feed (finishedTyping)="onFinishTyping($event)" ></app-feed>
    </div>
  </div>
  <div class="control-panel__feedback">
    <input #input class="control-panel__feedback-input">
    <button [disabled]="mode !== 'chat'" class="control-panel__feedback-btn" (click)="submit(input)">SEND</button>
  </div>
</div>