.program {
  overflow: auto;
   height: 100vh;
   background-image: url(./mountains.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: sans-serif;
   font-weight: 200;
   padding: 2% 5%;
}

.program__section {
  background: #f9f6ed;
  color: #272727;
  padding: 40px 40px 20px 40px;
  box-shadow: -10px 10px 15px rgb(0 0 0 / 30%);   
}

.program__base {
  display: flex;
  height: calc(100vh - 65px);
  overflow: auto;
  margin-top: 45px;
  padding-bottom: 20px;
}

.program__contents {
    width: 200px;
    padding: 5px;
    font-size: 1em;
    position: fixed;
    margin: 20px;
}

 .program__contents--select {
     font-weight: bold;
 }

.program__contents div {
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 24px;
}

.program__contents div:hover {
    font-weight: bold;
}

.program__contents div:active {
    font-weight: bold;
}

.program__main {
  max-width: 800px;
  margin-bottom: 40px;
  font-family: monospace;
  font-weight: normal;
  font-size: 1.3em;
  font-weight: 200;
  line-height: 24px;
  margin: auto;
}

h4 {
    margin-top: 0;
    font-weight: 400;
}


p {
    margin-top: 0;
}

hr {
    margin-top: 35px;
    margin-bottom: 30px;
    margin-right: 15px;
}
