<div class="program">
    <div class="program__base">
        <div class="program__main">
            <h2>About <strong>Good Things To Do</strong></h2>
            <div class="program__section">
                <p>This performance is dedicated to you.</p>
                <p>I started creating this little piece in the middle of winter, 2016.
                  The world was starting to feel a little much. It emerged as a reaction to the world's darkness,
                  a perceived saturation in political, physical and emotional violence. I have seen a lot of artists react
                  to this by making work that reflects the brutality of the world - while this response makes
                  sense to me and feels important, I personally struggle to receive these pieces when I feel I'm
                  already maxed out. I gathered some collaborators together to help make a piece that aims to be
                  empowering and restorative - to offer an audience a chance to be soft in a hard world.</p>
                <p>I didn't know what was to come when I started making this.
                  Boy does it ever keep coming.  Globally, in my community, personally.
                  I didn't know I'd be constantly redefining what is 'survivable'.
                  I spend a lot of my time as a human trying to alert myself and others to the
                  brutality that permeates our lives. It's proven a lot more challenging to make
                  something that is restorative, that can leave others feeling more resilient and ready
                  to face the world. It's important to stay awake and aware.
                  But if we don't use our muscles for recovery and resilience, they will atrophy. They will die.</p>
                <p>This performance is dedicated to you, who can survive brutalities
                  that are systemic or circumstantial, catastrophic or ongoing, death by a
                  thousand cuts or one crushing blow. This is for you, who deserves a precious moment with yourself,
                  whose gifts are essential to the world and must be kept available. This is our offering.</p>
                <p>This is for you.</p>
                <p style="font-size: 16px"><em> - Christine Quintana and the Good Things Collective </em></p>
            </div>

            <h2>The Makers</h2>
            <div class="program__section">
                <h4><strong>Christine Quintana</strong><em> - creator</em></h4>
                <p>Christine is a playwright, actor, and co-artistic director of Delinquent Theatre (<a target="_blank" href="https://delinquenttheatre.com">delinquenttheatre.com</a>).
                  She has recently appeared on stage for Electric Company Theatre, Caravan Farm Theatre, Gateway Theatre, Ruby Slippers Theatre, and Theatre Replacement.
                  Christine is currently working on plays for Neworld Theatre, Tarragon Theatre, the Belfry Theatre and the Arts Club Theatre Company.
                  She is a founding member of CALTAC, graduate of UBC's BFA Acting Program and the 2017 Siminovitch Protégée Prize winner for Playwriting.
                  <a target="_blank" href="https://christinequintana.ca">christinequintana.ca</a>.</p>

                <h4><strong>Molly MacKinnon</strong><em> - collaborator, live music + concept</em></h4>
                <p>Molly is a freelance violinist and collaborative artist based out of Vancouver, BC, on the
                  unceded territories of the Coast Salish people. Selected theatre credits include The Idiot
                  (Neworld Theatre/VMT), STATIONARY: A Recession-Era Musical (Delinquent Theatre),
                  The Tempest (Bard on the Beach), The Night’s Mare (Caravan Farm Theatre),
                  Les Filles Du Roi (Urban Ink), Never The Last (Delinquent Theatre) and most recently,
                  Double Happiness: Detour This Way (Music on Main). Molly is the co-founder of Concerts On Tap,
                  a music series that brings together Vancouver breweries and classical music.
                  <a target="_blank" href="https://mollymackinnon.ca">mollymackinnon.ca</a>.</p>

                <h4><strong>Sam MacKinnon</strong><em> - collaborator, digital design</em></h4>
                <p>Sam is a software engineer, musician, and animator. He is the co-creater and co-host of the
                  monthly variety show "At Least We Tried" at the Tipper in Vancouver.
                  He is always on the lookout for interesting creative collaborations.</p>

                <h4><strong>Mishelle Cuttler</strong><em> - collaborator, recorded sound</em></h4>
                <p>Mishelle is a composer and sound designer grateful to live and work on Coast Salish Territory.
                  Some favourite recent projects have included Skyborn (Savage Society), A Christmas Carol (Citadel), and *almost* 3 seasons at Bard on the Beach.
                  Mishelle is a multiple Jessie award winner and a member of the ADC. She has a BFA from UBC and an MFA from NYU’s Tisch School of the Arts..
                  <a target="_blank" href="https://mishellecuttler.com">mishellecuttler.com</a>.</p>
            </div>

            <h2>Thank yous</h2>
            <div class="program__section">
                <p>Thank you to the Coast Salish people who host us on their land - we are grateful to draw inspiration from
                    the traditional and unceded territories of the Musqueam, Squamish and Tsleil-Waututh nations, and stand
                    in solidarity with their continued efforts to protect the land and water we live on.</p>

                <p>Thank you to our early supporters: Boca del Lupo, who supported this production through their Artist Residency Program,
                  the rEvolver Theatre Festival, and Spiderwebshow’s foldA Festival..</p>

                <p>Thank you to Kaitlin Williams and Sasha Singer-Wilson for their contributions to the development of this piece.</p>

            </div>

            <h2>Up Next</h2>
            <div class="program__section">
                <p>The IRL version of this piece is in development with
                    <a target="_blank" href="https://rumble.org/">Rumble Theatre.</a></p>
                <p style="font-size: 16px">If you'd like to tell us about your experience with Good Things To Do, please email us at goodthingsperformance@gmail.com</p>
            </div>

            <h2>Good Things</h2>
            <div class="program__section">
                <div *ngFor="let thing of goodthings | async">- {{ thing }}</div>
            </div>
        </div>
    </div>
</div>
<nav class="goodthings-nav">
  <a href="/">Home</a>
  <a href="/program">Program</a>
  <a href="/stage">Stage</a>
</nav>
